#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 0.7rem;
    padding:3px 7px;
}
#home{
    height: 320px;
    padding: 3px 50px;
}
#home::before{
    height: 450px;

}
#home p{
    font-size: 80px;
    line-height: 100%;
}
#Services{
    flex-direction:column ;
}
#Services .box{
    padding: 30px;
    margin: 2px;
    margin-bottom: 20px;
}
#Products{
    flex-wrap: wrap;
}
#Products img{
    width: 80px;
    height: auto;
}
#Contact-box{
    width: 80%;
}